:host {
  display: block;
  min-width: var(--content-min-width);
}

.layout__content {
  width: min(100%, var(--content-outer-width));
  margin-inline: auto;
  padding-inline: var(--content-padding-inline);
  margin-top: -1.5rem;
  padding-bottom: 3rem;
}
