.header {
  background-color: var(--color-primary-variant);
  height: 10rem;
  display: flex;
  align-items: center;
}

.header__inner {
  width: min(100%, var(--content-max-width));
  margin-inline: auto;
  padding-inline: var(--content-padding-inline);
}

.header__title {
  color: var(--color-surface);
  font-size: 1.75rem;
  font-weight: 800;
}
